main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background:#eee;    
    padding-bottom: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.title {
    padding-top: 30px;
    text-align: center;
    font-family: sans-serif;
    background-color:#444;
    color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
}
.qr {
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 5px;
}
a.manual-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-family: sans-serif;
    background-color:#444;
    color:white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}
@media only screen and (min-width: 420px) {
    main {
        width: 400px;
    }
}

.hidden {
    display: none;
}

#loading {
  text-align: center
}


/* For the animated loading spinner */
/* spinner size: 42 */

svg.spinner {
    width: 42 + px;
    height: 42 + px;
    x: 0px;
    y: 0px;
    viewBox: 0 0 42 42;
    
    circle {
        fill: transparent;
        stroke: #212121;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-dasharray: (3.14 * 42);
        -webkit-transform-origin: (0.5px * 42) (0.5px * 42) 0;
        -moz-transform-origin: (0.5px * 42) (0.5px * 42) 0;
        -ms-transform-origin: (0.5px * 42) (0.5px * 42) 0;
        -o-transform-origin: (0.5px * 42) (0.5px * 42) 0;
        transform-origin: (0.5px * 42) (0.5px * 42) 0;
        -webkit-animation: spinner 2s linear infinite;
        -moz-animation: spinner 2s linear infinite;
        -ms-animation: spinner 2s linear infinite;
        -o-animation: spinner 2s linear infinite;
        animation: spinner 2s linear infinite;
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * 42);
    } 50% {
        -webkit-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * 42);
    } 100% {
        -webkit-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * 42);
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * 42);
    } 50% {
        -moz-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * 42);
    } 100% {
        -moz-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * 42);
    }
}

@-ms-keyframes spinner {
    0% {
        -ms-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * 42);
    } 50% {
        -ms-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * 42);
    } 100% {
        -ms-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * 42);
    }
}

@-o-keyframes spinner {
    0% {
        -o-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * 42);
    } 50% {
        -o-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * 42);
    } 100% {
        -o-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * 42);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: (0.66 * 42);
    } 50% {
        transform: rotate(720deg);
        stroke-dashoffset: (3.14 * 42);
    } 100% {
        transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * 42);
    }
}


